## KNIME files
.knimeLock
.project
.savedWithData
workflowset.meta

## KNIME directories containing node data
internal/
port_*/
.metadata/
internalTables/

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

models/

Anime Recommender System (Knime)/preprocessed_anime_reviews.csv
Anime Recommender System (Knime)/rating_complete.csv

wandb/
data/
